body {
    margin: 0%;
    background-color: #535353;
}

footer {
    align-items: center;
    text-align: center;
}

.o {
    text-align: center;
    background-color: #d9d9d9;
    font-size: xx-large;
    border-radius: 15px;
    margin: 1%;
}

div {
    background-color: #d9d9d9;
    margin: 60px;
    border-radius: 15px;
}

#foto-andre {
    margin: 20px;
    max-height: 100px;
}

#foto-andre img {
    margin: 40px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

#foto-lana img {
    margin: 40px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    padding: 0%;
    margin: 0%;
}

#lana {
    padding: 0%;
}

#flex {
    display: flex;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 0%;
    margin: 1%;
}

#texto {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
}


#flex2 {
    display: flex;
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 0%;
    align-items: center;
}

#foto-cyber img {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0%;
    padding: 0%;

}

#foto-ic img {
    display: flex;
    width: 200px;
    height: 120px;
    margin: 0%;
    padding: 0%;
    align-items: center;
}

#foto-ic {
    margin-right: 1%;
}

header {
    background-color: #d9d9d9;
    text-align: center;
    padding: 0%;
    margin: 0%;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

#flex_header {
    display: flex;
    padding: 1%;
    margin: 1%;
    text-align: center;
    align-items: center;
}

#flex3 {
    display: flex;
    background-color: #d9d9d9;
    padding: 0%;
    text-align: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    align-items: center;
    text-align: center;
}

#flex3 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#flex-exp {
    display: flex;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 0%;
    margin: 1%;
}

#exp {
    padding: 0%;
    margin: 3%;
}

p {
    font-size: 16px;
}